<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 찾기 화면</title>
    <link rel="stylesheet" href="/css/example.css"/>
    <script type="text/javascript" src="/js/example.js"></script>
    <script type = "text/javascript">


    </script>
</head>
<body>
<h2>책 검색하기</h2>
<hr/>
<br/>
<div class="container right-panel-active">
    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="#" class="form" id="form1">
            <h2 class="form__title">책 검색하기</h2>
            <input type="name" placeholder="검색어" class="input" />
            <input type="name" placeholder="세션당 요청 레코드 수" class="input" />
            <input type="name" placeholder="페이지 수" class="input" />
            <button class="btn">검색</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">로그인</button>
                <hr/>
                <button class="btn" id="signUp">회원가입</button>
                <hr/>
                <button class="btn" id="librarySearch">근처 도서관 검색하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>